<h2>Pokedex:</h2>

<div id="load-box" style="display: none;">
  {{#if errorMessage}}
    <p class="error-message">{{errorMessage}}</p>
  {{/if}}
  <div id="pokedex-display">

  </div>

  {{#each result}}
    <a href="pokemon/{{number}}"> <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{number}}.png" alt="{{name}} image" style="width: 100px; opacity: .3"> </a>

  {{/each}}
</div>

<div id="pikachu-load">
  {{!-- <p>Loading...</p> --}}
</div>

<p id="data-transport" style="display: none;">{{string}}</p>



<script src="/javascripts/pokedexScript.js"></script>