<h2>Pokedex:</h2>

{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}

<div id="pokedex-display">

</div>

{{#each result}}
  <a href="pokemon/{{name}}"> <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{number}}.png" alt="{{name}} image" style="width: 100px; opacity: .3"> </a>

{{/each}}

<p id="data-transport" style="display: none;">{{string}}</p>



<script src="/javascripts/pokedexScript.js"></script>